
.section-container { max-width: 800px; margin-right: auto; margin-left: auto; }

.test-alpha { padding-top: 24px; padding-bottom: 5px; }

.test-beta { padding-bottom: 10px; }

/* .colourized { text-transform: uppercase; color: darkmagenta; } */

/* .section-container { max-width: 800px; margin: auto; } */

/* custom styling for all icons */
/* i.fas, i.fab { border: 1px solid red; } */

/* custom styling for specific icons */
/* .fa-fish { color: salmon; } */
/* .fa-frog { color: green; } */
/* .fa-user-ninja.vanishing { opacity: 0.45; } */
/* .fa-facebook { color: rgb(59, 91, 152); } */

