<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact &#45; Sequelize, Vue, Express Lesson</title>
  
  <!-- ico -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!-- bulma -->
  <link rel="stylesheet" href="./libs/bulma-master/css/bulma.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"> -->
  
  <!-- vuejs -->
  <script src="./libs/vue-dev/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- development version, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <!-- production version, optimized for size and speed -->

  <!-- axios -->
  <script src="./libs/axios-master/dist/axios.min.js"></script>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

  <!-- fontawesome v5 -->
  <link rel="stylesheet" href="./libs/Font-Awesome-master/css/fontawesome.css">
  <link rel="stylesheet" href="./libs/Font-Awesome-master/css/brands.css">
  <link rel="stylesheet" href="./libs/Font-Awesome-master/css/solid.css">
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->

  <!-- customized external script -->
  <link rel="stylesheet" href="./assets/main.css">

</head>
<body>
  
  <div class="container" id="app">
    <div class="block">
      
      <section class="section section-container test-alpha">
        <h2 class="title">Contacts</h2>
        
        <div class="block" v-if="contacts && error !== false">
          <p class="subtitle">{{ error }}</p>
        </div>

        <div class="block" v-else-if="contacts && contacts.length === 0 && error === false">
          <p class="subtitle">There are no contacts! Buuu!</p>
        </div>
        
        <div class="block" v-else>
          <contact v-for="contact in contacts" :key="contact.name" :contact="contact" @save-contact="onAddOrUpdateContact" @delete-contact="deleteContact" />
        </div>

      </section>
      
      <section class="section section-container test-beta">
        <div class="box">
          <add-update-contact title="Add Contact" @save-contact="onAddOrUpdateContact" />
        </div>
      </section>

    </div>
  </div>
  
  <script src="./assets/vue-app.js"></script>

</body>
</html>